# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/
ios/
linux/
macos/
windows/

# Version control
.git/
.gitignore

# Environment variables
.env
.env.example

# IDEs
.idea/
.vscode/
*.iml

# Other
README.md
LICENSE
